doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/styles.css")
    nav(class="top-bar" data-topbar role="navigation")
      div(class="top-bar-left")
        ul(class="menu")
          li(class="menu-text") Github API
          li
            a(href="/profile") Profile
      div(class="top-bar-right")
        ul(class="menu")
          li
            a(href="/logout") Logout
  body
